<%- include("header.ejs") -%>

<h2>This is the about page</h2>
<p>siujaiusiuahsiuaiushiuaahsiwhidhswiuhdiuwhdiuhwuihdiuwhduihwuid
    dwidinwiudiwundiuwujdiujwiudjiuwjduijwiujdiwjidujiwujdijwiudj
</p>

<%- include("footer.ejs") -%>